/week2/day3&4/json/Student Teacher/nbproject/private/
/week2/day3&4/json/Student Teacher/build/
/week4/day1-3/self service portal/nbproject/private/
/week4/day1-3/self service portal/build/
/week4/day1-3/self service portal/dist/